.info__result {
    display: flex;
    padding: 0 0 100px 0;
}
.result__container {
    display: flex;
    align-items: center;
}
.result-contant{
    flex: 0 0 100%;
    display: flex;
    //align-items: center;
}
.result-item__body{
    width: 50%;
    padding: 30px 30px 30px 0;
}
.result-item__image {
    position: relative;
    transform: translateX(-100%);
    flex: 0 0 calc(((100vw - 40px) * 0.49) + 20px);
    padding: 0 0 19% 0;
}
.result-item__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.result-item__subtitle {
    margin: 0 0 14px 0;
}
.result-item__title {
    margin: 0 0 21px 0;
}
.result-item__text {
    margin: 0 0 40px 0;
}
.result-item__line {
}



.info__influencer {
    display: flex;       
    margin: 0 0 80px 0;
    overflow: hidden;
}    

.influencer-item__contant {
    flex: 0 0 100%;
    display: flex;
}

.influencer__container {
    display: flex;
    align-items: center;       
}

.influencer-item__body{
    width: 50%;
    padding: 50px 110px 50px 0;
    &:hover {
        .influencer-item__line {
            .line-info{
                background-size: 100% 5px;
            }                
        }
    }
}

.influencer-item__image {
    position: relative;
    flex: 0 0 calc(100vw * 0.49);
    transform: translateX(-100%);
    padding: 0 0 26.5% 0;
}

.influencer-item__img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.influencer-item__subtitle {
    margin: 0 0 14px 0;
}
.subtitle-info {
    font-weight: bold;
    font-size: 18px;
    line-height: 109.1%;
    color: #6F764D;
}
.influencer-item__title {
    margin: 0 0 24px 0;
    line-height: 113%;       
}

.influencer-item__text {
    margin: 0 0 30px 0;        
}

.text-info {
    font-size: 15px;
    line-height: 18px;        
    color: #6C6C6C;
}

.influencer-item__line {}



