@import 'resetcss.scss';

@import url('https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mulish:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:regular,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Devonshire:regular');

$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1090; 
$md1: $maxWidthContainer + 12; 
$md2: 991.98;
$md3: 767.98;
$md4: 599.98;
$md5: 479.98;

* {
    transition: 0.5s;
}

.container{
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: $md1 + px) {
            max-width: 1010px;
        }
    @media (max-width: $md2 + px) {
            max-width: 790px;
        }
    @media (max-width: $md3 + px) {
            max-width: none;
            padding: 0 10px;
        }
    @media (max-width: $md4+px) {
            max-width: none;
            padding: 0 10px;
        }
        @media (max-width: $md5+px) {
            max-width: none;
            padding: 0 10px;
        }
    }

    body {
        font-family: Inter, sans-serif;
        font-weight: 500;
        &.lock{
            overflow: hidden;
        }        
    }

    .text {   
        font-size: 15px;        
    }

    .title {
        font-family: Rammetto One;        
        font-weight: 500;
        font-size: 36px;
        line-height: 113%;
    }

// === header ===   


    .header {
        padding: 23px 0 0 0;
    }
    .container {
    }
    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 95px 0;
    }
    .header__logo {
    }
    
    .header__nav {       
        margin: 0 0 0 auto;
        display: flex;
        align-items: center;
        
    }
    .header__list {
        display: flex;
    }

    .header__li {
        margin: 0 26px 0 0;  
        &:last-child {
            margin: 0 37px 0 0;
        }
    }   

    .header__link {        
        font-size: 18px;
        line-height: 22px;
        color: #6C6C6C;
        padding: 5px;        
        background: linear-gradient(#6C6C6C, #6C6C6C)0% 100%/ 0% 2px no-repeat;
        transition: background-size .5s;     
        &:hover {
            background-size: 100% 2px;
        }        
    }

    .header__button {        
        font-size: 15px;
        line-height: 109.1%;
        text-align: center;       
        color: #FFFFFF;
        background-color: #000000;
        border: 1px solid #000000;
        padding: 9px 10px;
        &:hover {
            color: #6C6C6C;
            background-color: #FFFFFF;
            border: 1px solid #6C6C6C;
        }
    }

    .button__menu {
        display: none;
        padding: 10px 12px;
        background-color: #000000;
        font-size: 18px;
        color: #FFFFFF;
    }

    .header__contant {
    }
    .header__container {
        max-width: 1340px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .header__columns {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;   
    }
    .header__item {       
    }
    .header__item-left {
        flex: 0 0 24%;
        
    }
    .header__img-left {
        position: relative; 
        display: flex;
        justify-content: center;
        
    }
    .img-left {        
        max-width: 100%;        
    }
    
    .vector-01__text,
    .vector-02__text {
        font-family: Devonshire;
        font-weight: 500;
        font-size: 20px;
        line-height: 103.6%;
        color: #6F764D;
        white-space: nowrap;
    }

    .vector-01__text {
        position: absolute;
        top: 38%;
        left: 58%;
    }
    .header__vector-01 {
        position: absolute;
        top: 6%;
        left: 62%;   
    }

    .header__item-center {
        display: flex;
        flex-direction: column;
        flex: 0 0 46%;       
        margin: 0 22px;
        padding: 53px 10px 80px 10px;       
    }   

    .header__social {
        display: flex;
        align-self: flex-end;
        align-items: center;
        margin: 0 9px 5px 0;
    }

    .header__star {
        display: flex;
        margin: 0 12px 0 0;
    }

    .header__star-icon {        
        margin: 0 7px 0 0;
    }

    .header__like {
        position: relative;
        display: flex;
        align-items: center;
        align-self: flex-end;
        background-color: #000000;       
        border-radius: 5px;        
        padding: 7px 12px;              
        &::after {
            content: '';
            position: absolute;
            top: 97%;
            right: 18%;
            width: 0;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 14px solid transparent;
            border-top: 15px solid #000000;
        }
    } 

    .header__like-icon{          
        margin: 0 7px 0 0;           
    }

    .header__like-text {
        font-family: Poppins;
        color: #FFFFFF;
        font-weight: 600;
    }

    .header__title {
        font-family: Rammetto One;        
        font-weight: 500;
        font-size: 60px;
        line-height: 109.1%;
        text-align: center;
        color: #000000;
        margin: 0 0 20px 0;
        span {
            color: #6F764D;
        }
    }

    .header__text {        
        line-height: 18px;
        text-align: center ;
        color: #6C6C6C;
        margin: 0 0 27px 0;
    }

    .header__buttons {
        display: flex;        
        justify-content: center;
    }

    .header__button-left {
        margin: 0 20px 0 0;
    }

    .button {
        flex: 0 0 208px;
        font-weight: 700;
        font-size: 18px;
        line-height: 109.1%;
        text-align: center;
        color: #FFFFFF;
        background: #6F764D;
        border: #6F764D 1px solid;
        padding: 12px 0;
        &:hover {
            color: #000000;
            border: #000000 1px solid;
            background-color: #FFFFFF;
        }
    }

    .header__button-right {    
    }

    .header__item-right {        
        flex: 0 0 24%;               
    }

    .header__img-right {
        position: relative;
        display: flex;
        justify-content: center;         
    }

    .img-right {
        max-width: 100%;       
    }
 
    .vector-02__icon { 
        position: absolute;
        top: -100%;
        left: 43%;        
    }

    .header__vector-02 {
        position: absolute;   
        top: 7%;
        left: 10%;
    }

    // === application ===

    .application {
        padding: 120px 0;
        background-color: #6F764D;
    }
    
    .application__columns {
        display: flex;
        align-items: center;  
        justify-content: center;     
    }

    .application__item-text {   
       padding: 50px 55px 50px 0;
    }

    .application__item-column {
        display: flex;      
        flex: 0 0 57%;  
    }
    
    .application__title {        
        line-height: 109.1%;
        color: #FFFFFF;
        margin: 0 0 17px 0;
    }

    .application__text-left {
        line-height: 18px;
        color: #EDEDED;
    }

    .application__text {
        line-height: 22.5px;
        color: #FFFFFF;
        margin: 0 0 30px 0;
        text-align: center;       
    }    
      
    .item-cart {    
        flex: 0 0 276px;           
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #6F764D;
        border: 2px solid #FFFFFF;       
        border-radius: 10px;
        padding: 46px 30px 22px 23px;
        margin: 0 45px 0 0;
        &:last-child {
            margin: 0;
        }  
        &:hover {
            background-color: #FFFFFF;
            border: 2px solid #6F764D;
            .application__subtitle {
                color: #000000;
            }
            .item-cart__search,
            .item-cart__gear {
                path {
                    stroke: #000000;
                }
            }
            .application__link {
                path {
                    fill: #000000;
                }
                
            }
            .application__text {
                color: #6C6C6C;
            }
        }
    }

    .item-cart__search,
    .item-cart__gear {        
        margin: 0 0 25px 0;        
    }    
    
    .application__subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 109.1%;
        color: #FFFFFF;
        margin: 0 0 22px 0;        
    }

    .application__link {
    }

    ._icon-arrow_big {
        color: #FFFFFF;
        font-size: 24px;        
    }
   

    // === info ===

    .info {
        padding: 115px 0 0 0;
    }

    .info__contant {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 60px 0;
    }
    
    .info__stars {
        display: flex;
        margin: 0 0 30px 0;
        align-items: center;
        justify-content: center;
    }

    .info__icons {
        margin: 0 10px 0 0;        
    }    

    ._icon-Star__info {        
        margin: 0 7px 0 0;
    }

    .info__number {
        font-weight: 600;
        font-size: 28px;
        line-height: 157.39%;
        color: #6F764D;
        span {
            font-size: 15px;            
        }
    }

    .info__title {
        margin: 0 0 19px;
        color: #000000;
        text-align: center;
    }
    
    .info__text {       
        max-width: 539px;
        text-align: center;
    }
    
    .info__labels {        
        margin: 0 0 95px 0;
    }

    .info__labels__img {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .labels-info__img {
        max-width: 100%;
        padding: 20px 20px;
    }

    .info__influencer {
        display: flex;       
        margin: 0 0 80px 0;
        overflow: hidden;
    }    

    .influencer-item__contant {
        flex: 0 0 100%;
        display: flex;
    }

    .influencer__container {
        display: flex;
        align-items: center;       
    }

    .influencer-item__body{
        width: 50%;
        padding: 50px 110px 50px 0;
        &:hover {
            .influencer-item__line {
                .line-info{
                    background-size: 100% 5px;
                }                
            }
        }
    }

    .influencer-item__image {
        position: relative;       
        flex: 0 0 calc(((100vw - 40px) * 0.49) + 20px);
        transform: translateX(-100%);
        padding: 0 0 26.5% 0;
    }

    .influencer-item__img {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
    }

    .influencer-item__subtitle {
        margin: 0 0 14px 0;
    }

    .subtitle-info {
        font-weight: bold;
        font-size: 18px;
        line-height: 109.1%;
        color: #6F764D;
    }

    .influencer-item__title {
        margin: 0 0 24px 0;
        line-height: 113%;       
    }

    .influencer-item__text {
        margin: 0 0 30px 0;        
    }

    .text-info {
        font-size: 15px;
        line-height: 18px;        
        color: #6C6C6C;
    }

    .influencer-item__line {}

    .line-info {
        display: block;
        width: 180px;
        height: 5px;
        background-color: #cdcdcd;
        background-image: linear-gradient(#6F764D, #6F764D);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 5px;
        transition: background-size .5s;        
    }

    .info__proposal {
        margin: 0 0 55px 0;
    }

    .info__proposal-columns {
        display: flex;
        margin: 0 -25px;
        align-items: center;       
    }

    .proposal-item {    
        padding: 30px 25px;         
    }

    .proposal-item__left {
        flex: 0 0 56%;
        display: flex;                 
    }

    .proposal-column {
        flex: 0 0 253px;
    }

    .proposal-column__left {        
        border: 3px solid #EDEDED;       
        padding: 35px 23px;
        margin: 0 34px 45px 0;
    }

    .proposal-column__row {        
        margin: 0 0 40px 0;
        &:last-child {
            margin: 0;
        }
    }

    .proposal-column__price {        
        margin: 0 0px 8px 0;
    }

    .price {
        font-weight: bold;
        font-size: 28px;
        line-height: 109.1%;
        color: #6F764D;
        margin: 0 20px 0 0;
    }

    .price-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 109.1%;        
    }

    .proposal-column__text {
    }

    .proposal-column__right {
        background: #F4F4F4;
        border: 2px solid #6F764D;
        padding: 30px 25px 39px 25px;        
        align-self: flex-end;
    }

    .proposal__category,
    .proposal__quantity {
        margin: 0 0 27px 0;
        display: flex;
        flex-direction: column;
    }

    .proposal-form__label{
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        margin: 0 0 6px;
    }

    .category__select,
    .quantity__select {
        position: relative;
        &::before {
            content: '';
            background: url('../../img/block_03/select_arrow.svg');
            width: 16px;
            height: 9px;           
            position: absolute;
            top: 50%;
            right: 15px;
            z-index: 1;
            transform: translateY(-50%);
            pointer-events: none;
            :hover {
                background: url('../../img/block_03/select_arrow-hover.svg');
            }
        }       
    }

    #category,
    #quantity {
        appearance: none;
        overflow: hidden;
    }

    #comment {
        min-height: 106px;
        padding: 16px 19px 19px 15px;
    }

    .proposal-form__select {
        position: relative;
        width: 100%;
        background: #FFFFFF;
        border-radius: 3px;
        font-family: Inter;        
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #6C6C6C;       
        padding: 12px 50px 12px 15px;
        outline: none;
        resize: none;                 
        &::-ms-expand {
            display: none;
        }
        &::-webkit-textarea-placeholder {
            font-family: Inter;        
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #6C6C6C;  
            background: #FFFFFF;      
        }
        &::-moz-placeholder {
            font-family: Inter;        
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #6C6C6C;      
            background: #FFFFFF;       
        }/* Firefox 19+ */
        &:-moz-placeholder {
            font-family: Inter;        
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #6C6C6C;  
            background: #FFFFFF;          
        }/* Firefox 18- */
        &:-ms-textarea-placeholder {
            font-family: Inter;        
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #6C6C6C;   
            background: #FFFFFF;          
        }
        &:hover {            
            background: #6F764D;
            border-radius: 3px;
            color: #FFFFFF;
            &::-webkit-input-placeholder {color: #FFFFFF;}
            &::-moz-placeholder          {color: #FFFFFF;}/* Firefox 19+ */
            &:-moz-placeholder           {color: #FFFFFF;}/* Firefox 18- */
            &:-ms-input-placeholder      {color: #FFFFFF;}            
    }   
    }   

    .proposal-form {
    }
    
    .proposal-item__right {        
        &:hover{            
            .proposal-item__line {
                .line-info{
                    background-size: 100% 5px;
                }                
            }
        }
    }

    .proposal-item__subtitle {
        margin: 0 0 14px 0;
    }

    .proposal-item__title {
        margin: 0 0 21px 0;
    }

    .proposal-item__text {        
    }

    .proposal-item__line {
        margin: 40px 0 0 0;
    }

    // === info__result ===

    .info__result {
        display: flex;
        overflow: hidden;
        padding: 0 0 100px 0;
    }

    .result__container {
        display: flex;
        align-items: center;
    }

    .result-item__contant{
        flex: 0 0 100%;
        display: flex;        
    }

    .result-item__body{
        width: 50%;
        padding: 30px 30px 30px 0;
        &:hover {
            .result-item__line {
                .line-info{
                    background-size: 100% 5px;
                }                
            }
        }
    }

    .result-item__image {
        position: relative;
        transform: translateX(-100%);
        flex: 0 0 calc(((100vw - 40px) * 0.49) + 20px);
        padding: 0 0 19% 0;
    }

    .result-item__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .result-item__subtitle {
        margin: 0 0 14px 0;
    }

    .result-item__title {
        margin: 0 0 21px 0;
    }

    .result-item__text {
        margin: 0 0 40px 0;
    }

    .result-item__line {
    }

    // === info__start ===

    .info__start {
        padding: 116px 0 76px 0;
        position: relative;
    }    
  
    .start-contant__title {       
       display: flex;
       justify-content: center;
       transform: translate(18.5%, 0%);
    }

    // === benefits ===

    .benefits {        
        background: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 50%, rgb(111, 118, 77) 50%);
        background: -moz-linear-gradient(180deg, rgb(255, 255, 255) 50%, rgb(111, 118, 77) 50%);
        background: linear-gradient(180deg, rgb(255, 255, 255) 50%, rgb(111, 118, 77) 50%);
        padding: 20px 0 0 0;
    }  

    .benefits__img {
        position: relative;       
        padding: 0 0 42% 0;
        flex: 0 0 59%;        
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;            
        }
    }

    .benefits__contant {
        flex: 0 0 50%;
    }
    
    .benefits__container {
        display: flex;
        align-items: center;
        position: relative;
        left: -8%;      
    }

    .benefits__body {      
    }

    .benefits__top {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0px 0 100px 35px;
    }

    .img-line {
        max-width: 100%;
    }

    .benefits__title {
        position: absolute;
    }
    .benefits__columns {
        display: flex;
        margin: 0 -15px 0 -74px;
        justify-content: space-between;
    }

    .benefits__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;        
    }

    .item-benefits__icon {
        margin: 0 0 8px 0;
    }
    .item-benefits__text {
        font-weight: 700 ;
        font-size: 18px;
        line-height: 109.1%;        
        color: #FFFFFF;
    }

    // === case ===

    .case {
        padding: 120px 0 0 0;
    }
    .case__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 47px 0;
    }
    
    .case__title {
        margin: 0 0 7px 0;
    }

    .case__text {
        font-size: 24px;
        line-height: 113.6%;
        text-align: center; 
        color: #6F764D;
    }

    .text-info {
    }

    .case__text-arrow {
    }

    .case__columns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .case__column {

    }

    .case__column-left {
        display: flex;
        flex-direction: column;
        padding: 33px 30px 33px 0;
    }

    .column-case__contant {
    }

    .case__column-right {
        display: flex;
        flex: 0 0 62%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -25px;
    }

    .column-case__title {
        margin: 0 0 26px 0;
    }

    .column-case__text {
        font-size: 15px;
        line-height: 18px;
        color: #6C6C6C;
        margin: 0 0 17px 0;
        max-width: 330px;
    }

    .column-case__subtext {
        font-size: 15px;
        line-height: 18px;
        color: #6F764D;
    }

    .case__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 33px 25px;
    }

    .item-case__number {
        font-weight: bold;
        font-size: 28px;
        line-height: 109.1%;        
        color: #6F764D;
        margin: 0 0 8px 0;
    }

    .item-case__text {
    }

    // === find ===

    .find {
        padding: 87px 0 60px 0;
    }
    
    .find__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 0 25px 0;
    }

    .find__title {
        color: #6F764D;
        line-height: 109%;
        margin: 0 25px 0 0;
    }
    
    .find__social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        //margin: 0 0 20px 0;
        margin: 0 -9px;
    }

    .find__button {
        padding: 7px 9px;       
    }

    .find__link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        line-height: 109.1%;        
        text-align: center;   
        color: rgba(111, 118, 77, 0.69);
        border: 1px solid rgba(111, 118, 77, 0.17);       
        padding: 10px 21px; 
        width: 114px;     
        &:hover {
            color: #FFFFFF;
            background: #6F764D;
        }
    }
    .find__bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .find__bottom-item {
        padding: 0 15px;
    }

    .find__card {
        display: flex;        
        flex-direction: column;
        align-items: center;       
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        padding: 33px 22px 26px 25px;
        margin: 0 0 20px 0;
        &:last-child {
            margin: 0 0 20px 0;
        }
    }

    .card-find__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 96px;
        height: 96px;
        border: 1px solid #6F764D;
        margin: 0 0 19px 0;
        img {
            border-radius: 50%;
             width: 82px;
             height: 82px;
            max-width: 100%;
        }
    }

    .card-find__name {
        font-family: Mulish;        
        font-weight: 700;
        font-size: 24px;
        line-height: 111.4%;       
        color: #000000;
        margin: 0 0 6px 0;
    }

    .card-find__country {
        font-family: Mulish;        
        font-weight: 700;
        font-size: 15px;
        line-height: 111.4%;       
        letter-spacing: 0.03em;
        color: #6C6C6C;
        margin: 0 0 15px 0;
    }

    .card-find__stars {
        display: flex;
        margin: 0 0 23px 0;
    }

    ._icon-star {
        margin: 0 10px 0 0;
        &:last-child {
            margin: 0;
        }
    }

    .card-find__social {
        display: flex;         
    }

    .social-button {       
        background-color: rgba(74, 122, 255, 0.07);       
        border-radius: 5px;
        padding: 8px 12px;
        margin: 0 8px 0 0;
        &:last-child {
            margin: 0;
        }        
    }
    
    .social-facebook,
    .social-instagram {
        display: flex;
        align-items: center;
        font-family: Mulish;
        font-weight: 700;
        font-size: 15px;
        line-height: 111.4%;
        letter-spacing: 0.03em;
        color: #000000;
        span {
            margin: 0 8px 0 0;
        }
    }

    .social-instagram {
    }

    // === trial ===

    .trial {
        position: relative;
        padding: 74px 0;        
    }
    
    .trial__photo {
    }

    .trial__item {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 69px;
        height: 69px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            max-width: 100%;
        }
    }

    .trial__item-01 {
        top: 8%;
        left: 17%;
    }

    .trial__item-02 {
        top: 10%;
        right: 21%;
    }

    .trial__item-03 {
        width: 50px;
        height: 50px;
        bottom: 10%;
        left: 57.5%;
    }

    .trial__contant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6F764D;
        padding: 94px 15px 75px 15px;
    }

    .trial__title {
        color: #FFFFFF;
        margin: 0 0 8px 0;
    }
    
    .trial__text {
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        max-width: 535px;
        margin: 0 0 30px 0;
    }

    .text-info {
    }

    .trial__button {
        font-weight: bold;
        font-size: 18px;
        line-height: 109.1%;
        text-align: center;        
        color: #FFFFFF;
        border: 1px solid #ffffff;
        padding: 12px 16px 12px 26px;
        &:hover {
            color: #6F764D;
            background-color: #FFFFFF;
            border: 1px solid #6F764D;
        }
    }

    // === footer ===

    .footer {
        padding: 65px 0 20px 0;
        background-color: #000000;
        margin: 72px 0 0 0;        
    }
    
    .footer__columns {
        display: flex;
        justify-content: space-between;        
    }

    .item-text {
        flex: 0 0 40%;
    }

    .footer__item-links {
        flex: 0 0 20%;
    }

    .footer__item {
        display: flex;
        flex-direction: column;       
        padding: 25px 25px 25px 0;
       &:last-child {
           padding: 25px 0;
       }
    }
    
    .footer__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;   
        color: #FFFFFF;             
        margin: 0 0 39px 0;
    }

    .title-logo {
        font-family: Rammetto One;
        font-size: 40px;
        line-height: 109.1%;        
        margin: 0 0 26px 0;
    }

    .footer__text {        
        color: rgba(255, 255, 255, 0.7);       
    }
    
    .footer__link {
        font-size: 15px;
        line-height: 28px;
        white-space: nowrap;
        color: rgba(255, 255, 255, 0.7);
        &:hover {
            color: #FFFFFF;
        }
    }
    

    @media (max-width: $md2 + px) {
        .influencer-item__line,
        .proposal-item__line,
        .result-item__line {
            display: flex;
            justify-content: center;
        }

        .header__menu {
           margin: 0 0 80px 0; 
        }

        .header__item-center {
            padding: 30px 10px;
        }

        .header__title {
            font-size: 42px;
        }

        .header__buttons {
            flex-wrap: wrap;
        }

        .header__button-left,
        .header__button-right {
            margin: 0 10px 20px 10px;
        }

        .header__vector-01,
        .header__vector-02 {
            display: none;
        }    

        // === application ===
        .application {
            padding: 90px 0;
        }

        .application__columns {
            flex-wrap: wrap;
        }

        .application__item-text {
            padding: 0 30px 50px 30px;
            text-align: center;
        }

        .application__item-column {
            flex: 0 0 100%;
            justify-content: space-around;
        }

        .item-cart {
            flex: 0 0 40%;
        }
       
        // === info ===
        .info {
            padding: 120px 0 0 0;
        }

        // === info-labels ===
        .info__labels {
            margin: 0 0 80px 0;
        }

        .info__labels__img {
            justify-content: center;
        }

        // === info-influencer ===
        .info__influencer {
            flex-direction: column;
        }

        .influencer-item__body {
            width: 100%;
            padding: 50px 30px;
            text-align: center;
        }

        .influencer-item__image {
            flex: 0 0 100%;
            transform: translateX(0);
            padding: 0 0 49% 0;
        }

        .influencer-item__img {
            max-width: 100%;
        }             

         // === info__proposal ===
         .info__proposal {
            margin: 0 0 40px 0;
         }

         .info__proposal-columns {
            flex-direction: column-reverse;
            margin: 0;
        }

        .proposal-column {
            flex: 0 0 40%;            
        }

        .proposal-column__left {
            margin: 15px 20px 15px 0;
        } 

        .proposal-column__right {
            align-self: stretch;
            margin: 30px 0;
        }      

        .proposal-item__left {
            padding: 0 30px;
            justify-content: space-around;
        }

        .proposal-item__right {
            padding: 50px 30px 35px 30px;
            text-align: center;
        }  

        // === info__result ===
        .info__result {
            flex-direction: column;
            padding: 0 0 100px 0;
        }

        .result-item__body {
            width: 100%;
            text-align: center;
            padding: 50px 30px;
        }

        .result-item__image {
            transform: translateX(0);
            padding: 0 0 40% 0;
            flex: 0 0 100%;
        }
        
        .result-item__img {
            max-width: 100%;
        }

        // === benefits ===
        .benefits__top {
            margin: 0 0 20px 15px;
        }

        .benefits__title {
            font-size: 32px;
        }

        // === find ===
        .find__bottom-item {
            flex: 0 0 45%;
        }

        // === case ===
        .case__column-right {            
            flex: 0 0 50%;
        }
    }

    @media (max-width: $md3 + px) {

        // === header ===

        .header__menu {
            &::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 80px;
                background-color: #FFFFFF;
                z-index: 9;
            }         

        }
        .header__logo {
            position: relative;
            z-index: 10;           
        }

        .header__nav {           
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;           
            background-color: #FFFFFF;
            align-items: center;
            flex-direction: column;
            padding: 80px 0 0 0;
            transform: translateY(-100%);            
            transition: 1s ease;
            /*&::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 80px;
                background-color: #FFFFFF;
            }*/
        }

        .header__list {
            display: block;   
            margin: 0 0 50px 0;      
        }

        .header__li {
            margin: 0 0 25px 0; 
        }

        .header__link {
            font-weight: 500;
            font-size: 28px;
            line-height: 32px;
            color: #6C6C6C;
            padding: 5px;             
            text-align: center;
            &:last-child {
                margin: 0;
            }          
        }

        .header__button {          
            font-size: 18px;        
        }

        .button__menu {
            position: relative;
            z-index: 10;
            display: inline-flex;  
            
        }


        ._menu-active {
            background-color: #FFFFFF;
            border: 1px solid #6C6C6C;
            color: #6C6C6C;           
        }
        
        ._active-nav {
            transform: translateY(0);
        }

        .header__item-left,
        .header__item-right {
            display: none;
        }

        .header__item-center {
            flex: 0 0 100%;
            justify-content: center;
            margin: 0;
        }

        .header__menu {
            margin: 0 0 50px 0;
        }

        .header__social {
            align-self: center;
            margin: 0 9px 15px 0;
        }

        .header__title {
            font-size: 52px;
        }

        // === benefits ===
        .benefits {
            background: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 30%, rgb(111, 118, 77) 30%);
            background: -moz-linear-gradient(180deg, rgb(255, 255, 255) 30%, rgb(111, 118, 77) 30%);
            background: linear-gradient(180deg, rgb(255, 255, 255) 30%, rgb(111, 118, 77) 30%);
            padding: 20px 0 35px 0;
        }

        .benefits__container {
            left: 0;
        }

        .benefits__img {
            display: none;
        }

        .benefits__contant {
            flex: 0 0 100%;
        }

        .benefits__title {
            position: relative;
        }

        .img-line {
            display: none;
        }

        .benefits__top {
            margin: 0 0 40px 0;
            justify-content: center;
        }

        .benefits__columns {
            margin: 0;
            justify-content: space-around;
        }

        // === case ===
        .case__columns {
            flex-direction: column;
        }

        .case__column-left {
            flex-direction: row;            
            padding: 0 30px 30px 30px;           
        }

        .column-case__title {
            padding: 0 30px 15px 0;
            margin: 0;
        }

        .case__column-right {
            margin: 0;
        }

        .case__item {
            flex: 0 0 30%;
        }

        .column-case__text {
            max-width: 100%;
        }

        // === find ===
        .find__top {
            flex-direction: column;
            align-items: center;
            margin: 0 0 50px 0;
        }

        .find__title {
            text-align: center;
            margin: 0 0 40px 0;
        }

        .find__bottom {
            justify-content: center;
        }       
    }

    @media (max-width: $md4 + px) {
        .title {
            font-size: 32px;
        }

        // === header ===
        .header__title {
            font-size: 42px;
        }

        // === info ===
        .info__stars {
            flex-wrap: wrap;
        }

        // === application ===
        .application {
            padding: 50px 0;
        }

        .application__item-text {
            padding: 0 15px 20px 15px;
        }

        .application__subtitle {
            text-align: center;
        }

        .application__item-column {
            flex-wrap: wrap;
        }

        .item-cart {
            flex: 0 0 80%;
            margin: 30px 0;
        } 

        // === info ===
        .info {
            padding: 90px 0 0 0;
        }         

        // === info__labels ===
        .info__labels {
            margin: 0 0 50px 0;
        }

        // === info__influencer ===
        .influencer-item__body {
            padding: 40px 15px;
        }

        // === info__proposal ===
        .info__proposal {
            padding: 0 0 50px 0;
        }

        .proposal-item__left {
            flex-wrap: wrap;
        }

        .proposal-column {
            flex: 0 0 80%;
        }
        
        .proposal-column__left {
            margin: 30px 0;
        }

        // === info__result ===
        .info__result {
            padding: 0 0 70px 0;
        }

        .result-item__body {
            padding: 40px 15px;
        }

        // === benefits ===  
        .benefits__icon {
            width: 60px;
        }

        .item-benefits__text {
            font-size: 15px;
        }

        // === case ===
        .case__column-left {
            flex-direction: column;
        }

        .case__item {
            text-align: center;
            padding: 20px;
        }

        // === find ===
        .find__social {
            justify-content: center;
        }

        // === trial ===
        .trial {
            padding: 35px 0;
        }

        .trial__title {
            text-align: center;
        }

        .trial__item-01 {
            top: 0;
            left: 10%;
        }

        .trial__item-02 {
            top: 0;
            right: 10%;
        }

        .trial__item-03 {
            bottom: 3%;
        }

        // === footer ===
        .footer__columns {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .item-text {
            flex: 0 0 83%;
        }        
    }

    @media (max-width: $md5 + px) {
        .title {
            font-size: 32px;
        }

        // === case ===
        .case {
            padding: 90px 0 0 0;
        }

        .case__column-right {
            justify-content: space-around;
        }

        .case__item {
            flex: 0 0 35%;
        }

        // === benefits ===
       .benefits {
            padding: 0;            
        }

        .benefits__top {
            margin: 0;
        }

        .benefits__title {
            text-align: center;
            white-space: nowrap;
        }

        .benefits__item {
            padding: 15px;
        }

        .benefits__icon {
            width: 50px;
        }

        .item-benefits__text {
            font-size: 13px;
        }

        // === find ===
        .find__top {
            margin: 0 0 40px 0;
        }

        .find__title {
            margin: 0 0 30px 0;
        }
        

         // === trial ===
         .trial {
             padding: 30px 0 18px 0;
         }

         .trial__contant {
             padding: 40px 15px;
         }

         .trial__item {
            display: none;
        }

        // === footer ===
        .footer__columns {            
            justify-content: space-between;
        }

        .item-text {
            flex: 0 0 100%;
        } 

        .footer__title {
            margin: 0 0 25px 0;
        }
    }